<div class="row">
    <div class="col-sm-8">
        
        <h1><%= @stadium[:stadium_name] %></h1>
        <p><%= @stadium[:description] %></p>

     <div class="container">
      <iframe
        width="300"
        height="250"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtovsQvkIUWlNqtYwXY87gEd4ZSmJEhMw
          &q=<%= @lat_lng_final %>&zoom=6" allowfullscreen>
      </iframe>
    </div>

    <div>
        <h4>Number of Reviews: <%= @count_reviews[:"count('*')"] %></h4>
        <h4>Average Score: <%= @average_score[:"avg(`score`)"] %></h4>
    </div>
     <p class="mt-5">
            <% if @current_user %>
                <a href="/stadiums/<%= @stadium[:id] %>/reviews/new" class="btn btn-primary">Write a review!</a>
            <% else %>
                <a href="/logins/new" class="btn btn-danger">Please sign in to review</a>
            <% end %>
        </p>
    </div>

    <div class="col-sm-4 mt-5">
    <h2>Last Review</h2>

    <% if @last_review %>
        <h4>Date Visited: <%= @last_review[:date_visited] %></h4>
        <h4>Score: <%= @last_review[:score] %> </h4>
        <h4>Comments: </h4>
        <p><%= @last_review[:comments] %></p>
    <% else %> 
        <h4>No reviews submitted yet</h4>
        <% end %>
    </div>
</div>



